# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
ddm2/
.venv/

# Conda
*.conda
*.env

# IDE files
.idea/
.vscode/

# Logs
logs/
*.log

# Experiments
experiments/
runs/

# Model checkpoints
*.pt
*.pth
*.ckpt
checkpoints/

# Data
data/
datasets/
*.h5
*.hdf5
*.npz
*.npy

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

stanford_hardi/
